@model LibraryManagement.Models.Author

<h1>Author: @Model.AuthorId</h1>
<p>Author Last Name: @Model.LastName</p>
<p>Author First Name: @Model.FirstName</p>


<p>Author Birth Place: @Model.BirthPlace</p>
<p>Has this author won any Nobel Prize?: @Model.NobelPrize</p>
