@model LibraryManagement.Models.Book

<h1>Book Id: @Model.BookId</h1>
<p>Title: @Model.Title</p>
<p>ISBN: @Model.ISBN</p>


<p>Publication date: @Model.PublicationDate</p>
<p>Genre: @Model.Genre</p>

 