@model LibraryManagement.ViewModel.BookViewModel
 <h1>@Model.Title</h1>
 
<p>Branch Name: @Model.BranchName</p>
<p>ISBN: @Model.ISBN</p>
<p>Publicatio nDate: @Model.PublicationDate</p>
<p>Genre: @Model.Genre</p> 

