@model List<LibraryManagement.Models.Book>

<h2>Authors</h2>
<a href="@Url.Action("Create", "Book")" class="btn btn-primary">Create Author</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>PublicationDate</th>
            <th>Genre</th>
            <th>Actions</th> <!-- Added column for actions -->
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.ISBN</td>
                <td>@book.PublicationDate</td>
                <td>@book.Genre</td>
                <td>
                    <a href="@Url.Action("Edit", "Book", new { id = book.BookId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Details", "Book", new { id = book.BookId })" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
