@model LibraryManagement.ViewModel.LibraryBranchViewModel

<p>Branch Id: @Model.LibraryBranchId</p>
<p>ZipCode: @Model.ZipCode</p>
<p>Address: @Model.Address</p>
<p>Phone: @Model.Phone</p>
<p>City: @Model.City</p>

<p>Email: @Model.Email</p>
<p>Opening Hours: @Model.OpeningHours</p>
